/* Figtree SemiBold */
@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-SemiBold.ttf");
  src: url("assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Figtree ExtraBold */
@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf");
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: "Figtree", sans-serif;
}
